.social_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon_div {
  padding: 6px;
  cursor: pointer;
  margin: 6px;
}

.social_icon {
  height: 40px;
}

@media only screen and (max-width: 720px) {
  .social_icon {
    height: 32px;
  }
}
