.skill_card {
  width: max-content;
  padding: 8px 16px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6px;
  border-radius: 8px;
}
.skill_icon {
  font-size: 80px;
}
.skill_name {
  font-size: 15px;
  color: #6f3475;
}

@media only screen and (max-width: 720px) {
  .skill_card {
    width: max-content;
    height: 100px;
  }
  .skill_icon {
    font-size: 60px;
  }
}
